<%if (records.length >0){ %>
<table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th>কৃষকের নাম</th>t
            <th>পিতার নাম</th>t
            <th>গ্রামের/মাঠের নাম</th>t
            <th>কৃষকের এনআইডি নং </th>t
            <th>কৃষকের মোবাইল নং</th>t
            <th>প্রকল্প শুরুর পূর্বের শস্যবিন্যাস,যা ছিল(রবি-খ,১- খ২)</th>i->f
            <th>প্রস্তাবিত শস্যবিন্যাস,যা ছিল(রবি-খ,১- খ২)</th>i->f
            <th>প্রদর্শনীর ধরণ(একক/ব্লক/সবজি/ফল/মিশ্রফল/বিশেষ)</th>t
            <th>প্রদর্শনী ফসলের/প্রযুক্তির নাম</th>t
            <th>জাতের নাম</th>i->f
            <th>বীজ/চারার উতস(গবেষণার প্রতিষ্ঠানের নাম/বিএসডিসি/কোম্পানীর নাম)</th>i->f
            <th>প্রদর্শনীর আকার(শতক)</th>i->f
            <th>প্রদর্শনীর বপন/রোপণ/স্থাপনের তারিখ</th>i->f
            <th>ব্লকের নাম</th>t
            <th>এসএএওর নাম</th>t
            <th>এসএএওর ফোন নাম্বার</th>t
            <th>Action(Edit/Delete)</th>
        </tr>
    </thead>.
    <tbody>
        <% records.forEach(function(row){ %>
        <tr>
            <td><%= row.name %></td>
            <td><%= row.fname %></td>
            <td><%= row.vname %></td>
            <td><%= row.nid %></td>
            <td><%= row.mnum %></td>
            <td><%= row.cdistribution %></td>
            <td><%= row.pdistribution %></td>
            <td><%= row.ptype%></td>
            <td><%= row.pname%></td>
            <td><%= row.breedname %></td>
            <td><%= row.source %></td>
            <td><%= row.trialsize %></td>
            <td><%= row.trialdate %></td>
            <td><%= row.blockname %></td>
            <td><%= row.saooname %></td>
            <td><%= row.pnum %></td>
            <td><a class="btn btn-primary btn-xs" href="/edit/<%= row.id %>"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger btn-xs" href="/delete/<%= row.id %>"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        <% }) %>
        </tbody>
        </table>
        <% }else{ %>
            <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th>কৃষকের নাম</th>
                    <th>পিতার নাম</th>
                    <th>গ্রামের/মাঠের নাম</th>
                    <th>কৃষকের এনআইডি নং </th>
                    <th>কৃষকের মোবাইল নং</th>
                    <th>প্রকল্প শুরুর পূর্বের শস্যবিন্যাস,যা ছিল(রবি-খ,১- খ২)</th>
                    <th>প্রস্তাবিত শস্যবিন্যাস,যা ছিল(রবি-খ,১- খ২)</th>
                    <th>প্রদর্শনীর ধরণ(একক/ব্লক/সবজি/ফল/মিশ্রফল/বিশেষ)</th>
                    <th>প্রদর্শনী ফসলের/প্রযুক্তির নাম</th>
                    <th>জাতের নাম</th>
                    <th>বীজ/চারার উতস(গবেষণার প্রতিষ্ঠানের নাম/বিএসডিসি/কোম্পানীর নাম)</th>
                    <th>প্রদর্শনীর আকার(শতক)</th>
                    <th>প্রদর্শনীর বপন/রোপণ/স্থাপনের তারিখ</th>
                    <th>ব্লকের নাম</th>
                    <th>এসএএওর নাম</th> 
                    <th>এসএএওর ফোন নাম্বার</th>
                    <th>Action(Edit/Delete)</th>
        </tr>
    </thead>
    <tbody>
    <% records.forEach(function(row){ %>
        <tr>
            <td colspan="10">No data Found</td>
        </tr>
    <% }) %>
    </tbody>
</table>
<% } %>