<%- include('../../includes/header')-%>
<%- include('../../includes/sidebar')-%>
   
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <%- include('../../includes/topbar')-%>
        <div class="container-fluid">
            <div class="container">
                <div class="">
                    <div class="row">
                        <div class="col-md-10">
                            <h1 class="text-center"><%= title %></h1>
                        </div>
                        <div class="col-md-2">
                            <label for="year">Choose a year:</label>

                            <select id="year" name="year">
                                <option value="">Choose year</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020" selected>2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <a href="/upazilla/upazillatrainedfarmerform" class="btn btn-success btn-group-sm ">প্রশিক্ষণপ্রাপ্ত কৃষকের তথ্য ফর্ম</a>
                        </div>

                    </div>

                     <div class="table-responsive" id="output">

                    </div>

                     <input type="button" id="btnExport" value="Download PDF" />

<!--                    <div id="output"></div>-->
                    <div id="loading" class="loading"><img class="mx-auto" src="/images/loading.gif" alt=""></div>
<!--                    <div id="loading" class="loading"><img src="{{ asset('assets/img/icon/loading.gif') }}" alt=""></div>-->
                </div>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function(){
          $('.dropdown a.test').on("click", function(e){
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
          });
        });
    </script>
    <script type="text/javascript">
        $("body").on("click", "#btnExport", function () {
            html2canvas($('#tblCustomers')[0], {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 650
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("farmer-details.pdf");
                }
            });
        });


        $( "#content-wrapper" ).load( "no url rn",function() {
            var year = new Date().getFullYear();
            $.ajax({
                type: "POST",
                url: "/upazilla/upazillaTrainedFarmerYear",
                data: {year: year},
                datatype: "json",
                beforeSend: function() {
                    // setting a timeout
                    $('#loading').show();
                    $('#output').hide();

                },
                success: function (data) {
                    $('#output').html(data);
                    $('#tblCustomers').DataTable();
                },
                complete: function() {
                    $('#loading').hide();
                    $('#output').show();
                }
            });
        });


        $('#year').on("change",function () {
            var year = $('#year').val();
            $.ajax({
                type: "POST",
                url: "/upazilla/upazillaTrainedFarmerYear",
                data: {year: year},
                datatype: "json",
                beforeSend: function() {
                    // setting a timeout
                    $('#loading').show();
                    $('#output').hide();
                },
                success: function (data) {
                    $('#output').html(data);
                    $('#tblCustomers').DataTable();
                },
                complete: function() {
                    $('#loading').hide();
                    $('#output').show();
                }
            });
        });

        // $(document).ready(function() {
        //     $('#tblCustomers').DataTable();
        // } );


    </script>
<%- include('../../includes/footer')-%>