<%- include('../includes/header')-%>
<%- include('../includes/sidebar')-%>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <%- include('../includes/topbar')-%>
        <div class="container-fluid">
            <div class="container">
                <h1>Welcome <%= type %> Admin</h1>
            </div>
        </div>
    </div>
<%- include('../includes/footer')-%>