<%if (records.length >0){ %>
<table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th>ফসলের নাম</th>
            <th>জাতের নাম</th>
            <th>আবাদকৃত জমি</th>
            <th>বছর</th>
            
            <!-- <th>Action(Edit/Delete)</th> -->
        </tr>
    </thead>
    <tbody>
        <% records.forEach(function(row){ %>
        <tr>
            <td><%= row.name %></td>
            <td><%= row.bname %></td>
            <td><%= row.area %></td>
            <td><%= row.year %></td>
            <!-- <td><a class="btn btn-primary btn-xs" href="/edit/<%= row.id %>"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger btn-xs" href="/delete/<%= row.id %>"><i class="fa fa-trash"></i></a>
            </td> -->
        </tr>
        <% })}else{ %>
            <tr>
                <td colspan="6">No Record Found</td>

            </tr>
            <% } %>
    </tbody>
</table>
<% } %>